name: Building

on:
  push:
    branches: [master]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include: 
          - os: ubuntu-latest
          - os: macos-10.15
          - os: macos-11
          - os: macos-12
    runs-on: ${{matrix.os}}
    steps:
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Build bottles
        run: |
          mkdir ~/bottles
          cd ~/bottles
          brew test-bot
  
      - name: Upload bottles
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: bottles
          path: ~/bottles
          if-no-files-found: error
          
  # release_and_upload:
  #   needs: build

  #   steps:
  #     - name: Create a new release
  #       uses: actions/create-release@v1
        

  #     - name: Upload bottles to release
  #       uses: actions/upload-release-asset@v1
  #       with:
  #         upload_url:
  #         asset_path:
  #         asset_name:
  #         asset_content_type:
